.image {
  border-radius: 8px;
}

li {
  list-style: none;
}

.card-text {
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.title {
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  margin: auto;
}

.titleInput {
  outline: none;
  border: none;
  font-family: "Dancing Script", cursive;
  color: grey;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.actions > p > li {
  font-size: 16px;
  margin-inline: 7px;
  display: inline;
  color: black;
  cursor: pointer;
}

.actions > p > li:first-child {
  color: teal;
}

.actions > p > li:last-child {
  color: tomato;
}

.singlePost {
  font-family: "Varela Round", sans-serif;
  text-align: justify;
}

.singlePostDesc {
  outline: none;
  border: none;
  font-family: "Varela Round", sans-serif;
  color: grey;
  font-size: 16px;
  text-align: justify;
  width: -webkit-fill-available;
  text-align: center;
}


.singlePost::first-letter {
    margin-left: 20px;
    font-family: "Dancing Script", cursive;
    color: teal;
    font-size: 35px;
    font-weight: 600;
}

.categories {
  cursor: pointer;
}
