.image {
  border-radius: 8px;
}

.card-text {
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.title {
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  margin: auto;
}

.actions > p > a {
  font-size: 16px;
  margin-inline: 10px;
  color: black;
}

.actions > p > a:first-child {
  color: teal;
}

.actions > p > a:last-child {
  color: tomato;
}

.singlePost {
  font-family: "Varela Round", sans-serif;
  text-align: justify;
}

.singlePost::first-letter {
    margin-left: 20px;
    font-family: "Dancing Script", cursive;
    color: teal;
    font-size: 35px;
    font-weight: 600;
}

.categories {
  cursor: pointer;
}
